{#
 # Passed in variables:
 #   email    — The mail's WrappedTemplatedEmail instance
 #   data     — POSTed data
 #   formname — Field data from the form configuration
 #   config   — Current Form's configuration data
 #   meta     — Meta data (IP, URL, Timestamp)
 #}
{# <p>Dear <strong>{{ email.toName }}</strong>, </p>

<p>Somebody used the form <strong>{{ formname }}</strong> on {{ meta.url }} to send you a message.</p>

<p>The posted data is as follows:</p> #}

    {{ block('submission_summary', '@boltforms/email_blocks.html.twig') }}
<hr size="1">

<br>

<p>Registered in England, Company No. 5518204.</p>
<p>Registered Office: Military House, 24 Castle Street, Chester, CH1 2DS</p>