<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-plug"></i> {{ extension.name }}
    </div>
    <div class="card-body">

        <p>{{ extension.composerpackage.description }}</p>

        <p>{{ extension.composerpackage.description|rot13 }}</p>

        <p>
            <a href="#" class="btn btn-secondary" data-confirm="This button doesn't actually do anything">
                <i class="fas fa-carrot"></i> Button
            </a>
            <a href="#" class="btn btn-hidden-danger" data-confirm="This button doesn't actually do anything">
                <i class="fas fa-spider"></i> Dangerous button
            </a>
        </p>
    </div>
</div>